

:root {
  --bg--primary: #808d7c;
  --bg--secondary: #5f6f65;
  --text--primary: #9ca986;
  --text--secondary: #c9dabf;
  --stroke: #cadabf;
}

*,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg--primary);
  padding: 0;
  margin: 0;
  height: 100vh;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-svg {
  width: 100%;
}

.header-logo {
  max-width: 100px;
  border: 1px solid var(--bg--secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.1);
}

.header-logo img {
  width: 100%;
  border-radius: 50%;
}

.header-text {
  text-align: center;
  margin-top: 1rem;
}

.header-text h2 {
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 2px 2px var(--stroke);
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.header-text p {
  font-size: 1.1rem;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.social-media a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  max-width: 500px;
  text-decoration: none;
  background-color: var(--bg--secondary);
  color: var(--text--secondary);
  border-radius: 10px;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.social-media a:hover {
  color: var(--bg--primary);
  background-color: var(--stroke);
  transform: rotate(-5deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg--secondary);
  width: 100%;
  margin-top: 2%;
}

footer span {
  font-weight: 700;
}

.footer-svg {
  width: 100%;
}

.footer-svg svg {
  margin-bottom: -5px;
}

@media (max-width: 430px) {
  footer .footer-svg {
    padding-top: 3rem;
  }
}
